@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Serif 4', serif;
    background-color: #eee9dd;
    color: #251212;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topbar {
    background-color: #7a7a3615;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; 
    font-weight: bold;
    padding: 0 20px;
}

.container {
    display: flex;
    flex: 1; 
    overflow: hidden;
}

.sidebar {
    width: 250px;
    background-color: #cac9c4ae;
    padding: 30px 20px;
    border-right: 4px solid #c2bab4;
    height: 100%;
}

.sidebar h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.8rem;
    color: #3d3d3d;
    margin-bottom: 20px;
}

.sidebar a {
    display: block;
    text-decoration: none;
    color: #251212;
    margin-bottom: 15px;
    font-weight: 700;
    transition: color 0.3s;
    font-size: larger;
}

.sidebar a:hover {
    color: #af8d6d;
}

.main-content {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.main-content h1 {
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3d3d3d;
}

.profile-card {
    background-color: #a3a19bae;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 600px; 
    display: flex;
}
.profile-card img{
    width: 92px;
    height: 92px;
    background-color: black;
    border-radius: 100%;
}

.profile-card h3 {
    margin: 0;
    font-size: 1.6rem;
    color: #7a604f;
    padding: 15px;
}

.profile-card p {
    margin-top: 10px;
    font-size: 1.1rem;
    color: #4a3b2d;
    margin-left: 15px;
}

.btn {
    background-color: #d6c1aa;
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #af8d6d;
}

.credit {
    background-color: #a3a19bae;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 600px; 
    margin-top: 0;
    height: 235px;
}

.orders {
    background-color: #a3a19bae;
    padding: 50px; 
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 1200px; 
    margin-top: 30px;
    height: 400px; 
    max-width: 100%;
}

.card-container {
    display: flex;
    gap: 60px; 
    align-items: flex-start;
    margin-bottom: 40px; 
}

.orders h1 {
    font-family: 'Source Serif 4', serif; 
    font-size: 2rem; 
    color: #3d3d3d; 
    margin-bottom: 20px; 
}