/* ========== ====== ==========  */
/* ========== HEADER ==========  */
/* ========== ====== ==========  */
.header {
  padding-block: 0.5rem;
  background-color: rgb(245 245 245);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.header .container {
  margin-inline: auto;
  padding-inline: 4rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-radius: 20rem;
  overflow: hidden;
}

.header .header-image-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header .container .logo-image {
  width: 4rem;
  aspect-ratio: 1 / 1;
}

.header .header-image-wrapper p {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: var(--color-accent);
}

.header .container .header-urls {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  list-style-type: none;
}

.header .container .header-urls li > a {
  /* background-color: rgb(229 229 229); */

  padding-block: 0.75rem;
  padding-inline: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

.header .container .header-urls li:hover > a {
  color: var(--color-primary);

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.header .container .header-urls li > .cta {
  border: 2px solid var(--color-accent);
  color: var(--color-text);
  padding-left: 2rem;
  padding-right: 2rem;
}

.header .container .header-urls li:hover > .cta {
  background-color: var(--color-secondary);
  color: var(--color-text);
}

/* ========== ====== ==========  */
/* ========== FOOTER ==========  */
/* ========== ====== ==========  */

.footer {
  background-color: rgb(245 245 245);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}
.footer .footer_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.footer .footer_subtitle {
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.footer .footer_copyright {
  text-align: center;
  margin-top: 2rem;
}
