@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --color-text: #050315;
  --color-background: #fbfbfe;
  --color-primary: #04317d;
  --color-secondary: #6db0e8;
  --color-accent: #433bff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Container */
.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}




.toast{
  position: fixed;
  top: 1rem;
  right: 1rem;
  max-width: 42ch;
  background: #e4e4e7;
  padding: .8rem;
  border-radius: .4rem;

  border: 2px solid transparent;
  animation: animate-in 0.5s ease, hide-toast 0s 3s forwards;
}

.toast.error {
  background: #ffa2a2;
  border: 2px solid red;
}

.toast.success {
  background: #b9f8cf;
  border: 2px solid #00a63e;
}


@keyframes animate-in {
  0% {
      opacity: 0;
      transform: translateY(-100%);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes hide-toast {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.btn {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.btn-primary {
  background: var(--color-primary);
  color: rgb(255 255 255);
}

.btn-secondary {
  border: 1px solid var(--color-primary);
}

.btn-secondary:hover {
  background: var(--color-accent);
  border-color: var(--color-accent);
  color: rgb(255 255 255);
}

.btn-primary:hover {
  background: var(--color-accent);
}

.btn-error,
.btn-delete {
  border-color: rgb(239 72 72);
  color: rgb(239 72 72);
}

btn-error:hover,
.btn-delete:hover {
  color: rgb(255 255 255);
  background-color: rgb(248 113 113);
}
